build
bin/*
lib/*
__pycache__
.ipynb_checkpoints
.cache
*.db
*.db-wal
*.db-shm
test/tmp
*.ipynb
*.swp
.old
.clangd
hpc_driver/track
basis_partitions
.DS_Store
driver/rundata
driver/*.plan
subprojects/mr3smp
subprojects/pthash
subprojects/nlohmann_json-*
subprojects/packagecache
test/lattice_files/*.basis.csv
test/lattice_files/*.basis.h5
