build
__pycache__
.ipynb_checkpoints
.cache
*.db
*.db-wal
*.db-shm
lattice_files
test/tmp
vendor/*
*.ipynb
*.swp
.old
hpc_driver/track
basis_partitions
.DS_Store
driver/rundata
driver/*.plan
subprojects/mr3smp
